# Mesh router's subnet range.
# In other words, the ad-hoc network for mesh routers.
# Format must be "X.X.X." (do not include the last digit)
# If there are multiple subnets, add one by one.
#MeshSubnet = 143.248.55.

# Hello Broadcast Interval (seconds)
HelloInterval = 1.0

# Route discovery (ARREQ flooding) scope in hopcount (Time-to-live)
RouteDiscoveryTTL = 10

# Delay Measurement Interval (seconds)
DelayMeasurementInterval = 1.0

# Maximum bandwidth in the ns-3 simulator
DefaultMaxBandwidth = 5000000

# Set a node type: a mesh router or a mesh client.
#IsMeshRouter = true

# Control port numbers
RoutingPort = 50191
DelayMeasurePort = 50591
HelloPort = 60991
MyDataPort = 20000

# For ns-3 simulation purpose
AppsConfigDirectory = ./apps_config

# For experimental purpose
FlowUnsatisfactoryThreshold = 3
Scheme2FlowCheckTTL = 1
Scheme3FlowAcceptTTL = 3



# 180526, Soft QoS factor.
# QoS satisfaction is determined by multiplication of this value.
SoftQoSFactor = 1.0

# Application Layer Parameters
AppMinimumBufferingTime = 3

# 180608, Flow's normal sending ratio based on the full bandwidth requirement
FlowNormalSendingRate = 0.6
FlowNormalIntervalAtStart = 10

# 180305, randomness of flow to send its max data rate
FlowRandomProbability = 0.5
FlowRandomInterval = 20.0
