# hostapd's subnet range.
# Format must be "X.X.X." (do not include the last digit)
#HostapdSubnet = 10.0.4.

# Mesh router's subnet range.
# In other words, the ad-hoc network for mesh routers.
# Format must be "X.X.X." (do not include the last digit)
# If there are multiple subnets, add one by one.
#MeshSubnet = 143.248.55.

# Hello Broadcast Interval (seconds)
HelloInterval = 1.0

# Route discovery (ARREQ flooding) scope in hopcount (Time-to-live)
RouteDiscoveryTTL = 10

# Delay Measurement Interval (seconds)
DelayMeasurementInterval = 1.0

# Maximum bandwidth in the ns-3 simulator
DefaultMaxBandwidth = 5000000

# Set a node type: a mesh router or a mesh client.
IsMeshRouter = true

# Interface and IP address mapping
InterfaceMapping = eth0/143.248.55.
#InterfaceMapping = wlan1/192.168.3.

# Control port numbers
#TcpdumpMonitoringPort = 40999
RoutingPort = 50191
DelayMeasurePort = 50591
HelloPort = 60991
MyDataPort = 20000

# For ns-3 simulation purpose
AppsConfigDirectory = ./apps_config

# For experimental purpose
FlowUnsatisfactoryThreshold = 3
Scheme2FlowCheckTTL = 1

# 180305, randomness of flow traffic (up to X times more)
FlowRandomProbability = 0.3
FlowRandomness = 1.5
FlowRandomInterval = 10.0

# Route discovery policy: best|worst
# This is used when handling ARREQ messages in order to
# determine re-broadcasting ARREQ.
#  -best: the best value of a QoS metric range is used.
#  -worst: the worst value of a QoS metric range is used.
RouteDiscoveryPolicy = worst

# Blacklist nodes
#NeighborBlacklist = 192.168.4.7
#NeighborBlacklist = 192.168.3.7
